.Edit label {
    margin: 15px 0 0 755px;
}

.Edit label {
    display: flex;
}

.Edit textarea {
    margin: 1.5% 0 0 6%;
    
}

.Edit textarea {
    width: 100%;
    height: 29em;
    border-radius: 10px;
    padding: 10px;
}