.Tabs .Menu {
  margin: 1.5% 15% 0 26%;
  padding: 0;
  height: 80%;
  display: flex;
  border-bottom: 1px solid #bababa;
}

.Tabs p {
  font-size: 14px;
  padding: 0 10px 15px 10px;
  cursor: pointer;
  color: #5c5c5c;
}

.Tabs p:hover {
  border-bottom: 2px solid #e9e9e9;
}

.Tabs #main, #education, #contacts {
  border-bottom: 2px solid #eb6700;
  font-weight: 600;
  transition: 0.5s;
  transition-property: all;

}